doctype
html
  head
    title=title
  body
    p The first paragraph
    p The second one
    
    p
      | third paragraph
      | with multiple lines
      
    include content
    
    p And this should come after the block
